In [1]:
# Example 1: Using map with a built-in function
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

# Example 2: Using map with a user-defined function
def add_five(x):
    return x + 5

numbers = [1, 2, 3, 4, 5]
numbers_plus_five = list(map(add_five, numbers))
print(numbers_plus_five)  # Output: [6, 7, 8, 9, 10]

# Example 3: Using map with multiple iterables
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
sum_numbers = list(map(lambda x, y: x + y, numbers1, numbers2))
print(sum_numbers)  # Output: [5, 7, 9]

# Example 4: Using map with a string
strings = ["apple", "banana", "cherry"]
upper_strings = list(map(str.upper, strings))
print(upper_strings)  # Output: ['APPLE', 'BANANA', 'CHERRY']

# Example 5: Using map with a dictionary
dicts = [{'name': 'John', 'age': 25}, {'name': 'Jane', 'age': 30}]
names = list(map(lambda d: d['name'], dicts))
print(names)  # Output: ['John', 'Jane']

[1, 4, 9, 16, 25]
[6, 7, 8, 9, 10]
[5, 7, 9]
['APPLE', 'BANANA', 'CHERRY']
['John', 'Jane']

In [2]:
# List of dictionaries representing employees
employees = [
    {'name': 'John', 'age': 25, 'salary': 50000},
    {'name': 'Jane', 'age': 30, 'salary': 60000},
    {'name': 'Doe', 'age': 22, 'salary': 45000}
]

# 1. Increase the salary of each employee by 10%
def increase_salary(employee):
    employee['salary'] = employee['salary'] * 1.10
    return employee

updated_employees = list(map(increase_salary, employees))
print("Updated Employees:", updated_employees)

# 2. Extract the names of all employees
employee_names = list(map(lambda e: e['name'], employees))
print("Employee Names:", employee_names)

# 3. Convert all employee names to uppercase
upper_employee_names = list(map(str.upper, employee_names))
print("Uppercase Employee Names:", upper_employee_names)

Updated Employees: [{'name': 'John', 'age': 25, 'salary': 55000.00000000001}, {'name': 'Jane', 'age': 30, 'salary': 66000.0}, {'name': 'Doe', 'age': 22, 'salary': 49500.00000000001}]
Employee Names: ['John', 'Jane', 'Doe']
Uppercase Employee Names: ['JOHN', 'JANE', 'DOE']

In [3]:
high_salary_employees = list(filter(lambda e: e['salary'] > 50000, employees))
print("High Salary Employees:", high_salary_employees)

High Salary Employees: [{'name': 'John', 'age': 25, 'salary': 55000.00000000001}, {'name': 'Jane', 'age': 30, 'salary': 66000.0}]